.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
}

.main-title {
  color: white;
  font-size: 60px;
  font-family: nanumsquare;
  text-align: center;
}

.main-text {
  color: white;
  font-size: 30px;
  font-family: nanumsquare;
  text-align: center;
  padding: 0 0 20px 0;
}

.main-text button {
  font-family: nanumsquare;
  color: black;
  background-color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
