.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
}

.main-title {
  color: white;
  font-size: 60px;
  font-family: nanumsquare;
  text-align: center;
}

.main-text {
  color: white;
  font-size: 30px;
  font-family: nanumsquare;
  text-align: center;
  padding: 0 0 20px 0;
}

.main-text button {
  font-family: nanumsquare;
  color: black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.sub-box {
  position: fixed;
  width: 40%;
  background-color: whitesmoke;
  border: none;
  border-radius: 6px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  padding: 15px;
  font-family: nanumsquare;
}

.sub-title {
  font-size: 24px;
}
