body {
  margin: 0px;
}

div,
input,
textarea {
  box-sizing: border-box;
}

.main-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 300px;
}

.main-container div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .main-container {
    max-width: 600px;
  }

  .main-container div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-container div {
    float: none;
    width: 100%;
  }
}
