body {
    margin: 0px;
}

div, input, textarea {
    box-sizing: border-box;
}

thead, td {
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #c2d3de;
}

table {
    border-collapse: collapse;
}

.gray-box {
    position: absolute;
    width: 50%;
    height: 500px;
    background-color: #b2ccd6;
    padding: 0 60px 60px 60px;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -25%;
}

.gray-box h3 {
    font-size: 30px;
    color: #133761;
    font-weight: 400;
}

.main-table {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    color: gray;
}

.main-table thead {
    font-size: 13px;
    font-weight: 800;
}

.item-img img {
    float: left;
    width: 25%;
}

.item-content {
    width: 75%;
    float: left;
    line-height: 5px;
    text-align: left;
    padding-left: 15px;
}

.main-table span {
    color: black;
    font-weight: 700;
}

.AMOUNT {
    text-align: right;
    padding-right: 30px;
}

.cart-link {
    float: left;
    margin-top: 30px;
}

.method-button {
    float: right;
    border: none;
    border-radius: 5px;
    background-color: #133761;
    color: white;
    font-size: 16px;
    padding: 20px 26px;
    margin-top: 20px;
}