.main-background {
  width: 100%;
  height: 945px;
  background-image: url(../shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
}

.main-title {
  color: white;
  font-size: 60px;
  font-family: nanumsquare;
  margin-top: 300px;
  text-align: center;
}

.main-text {
  color: white;
  font-size: 30px;
  font-family: nanumsquare;
  text-align: center;
  margin: 0 150px 0 150px;
  border: 1px solid gba(112, 109, 109);
  border-radius: 7px;
  padding: 20px 0 20px 0;
  background-color: rgba(112, 109, 109, 0.7);
}

.main-text button {
  color: white;
  background-color: rgb(79, 172, 209);
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
