body {
    font-family: nanumsquare;
    transform: skew(-0.1deg);
}

h3 {
    font-weight: 800;
}

span {
    font-weight: normal;
}

a {
    font-weight: bold;
}

b {
    font-size: 0.8rem;
}

.fire {
    font-size: 80px;
    margin: 20px;
    color: #6fbaf8;
}

.pill {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    margin-right: 10px;
}

.mr {
    margin-right: -2rem;
}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #eee;
}

.btn-style {
    padding: 6px 24px;
    background-color: #6fbaf8;
    color: white;
}

.Profile {
    width: 11.5rem;
    margin-bottom: -2rem;
    text-align: center;
    font-size: 24px;
    color: #6fbaf8;
    font-weight: bold;
}