.rion {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: "nanumsquare";
}

p {
  font-size: 30px;
  margin-top: -20px;
  color: black;
  font-family: "nanumsquare";
  text-align: center;
}

.profile {
  background-color: skyblue;
  width: 200px;
  height: 100px;
  padding: 80px 100px 0 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: black 7px 7px;
}

.profile p {
  color: black;
  font-size: 25px;
  font-family: "nanumsquare";
}

.container {
  border: 2px solid black;
  margin-top: 20px;
}

.header {
  background-color: aqua;
  width: 100%;
  height: 100px;
}

.left-box {
  background-color: blue;
  width: 20%;
  height: 400px;
  display: inline-block;
}

.right-box {
  background-color: brown;
  width: 80%;
  height: 400px;
  display: inline-block;
}

.footer {
  background-color: black;
  width: 100%;
  height: 100px;
}
