@mixin box($배경색상, $폰트색상) {
    background-color: $배경색상;
    width: 1000px;
    font-size: 24px;
    border-radius: 7px;
    margin: 40px;
    padding: 4px;
    padding-left: 40px;
    color: $폰트색상;
}

@mixin col($넓이) {
    background-color: #e6e2eb;
    border: 1px solid #c9c1d4;
    padding: 20px;
    width: $넓이;
}



.main_1 {
    li {
        list-style: none;
        width: 200px;
        height: 40px;
        border: 1px solid black;
    }

    .active {
        background-color: blue;
        color: white;        
    }
}

.alert_box {
    .alert_one {
        @include box(#def0d8, #82a990)
    }
    .alert_two {
        @include box(#d9ecf7, #65a2c7)
    }
    .alert_three {
        @include box(#fcf7e2, #b38e67)
    } 
    span {
        font-weight: bold;
    }
}image.png

.row {
    width: 100%;
    display: flex;
    .col-6 {
        margin-bottom: 20px;
        @include col(50%)
    }

    .col-4 {
        @include col(33.33%)
    }
}
